[Unit]
    Description=Gunicorn instance to server api
    After=network.target

[Service]
    User=dev
    Group=dev
    WorkingDirectory=/home/dev/app/src
    Environment="PATH=/home/dev/app/venv/bin"
    EnvironmentFile=/home/dev/.env
    ExecStart=/home/dev/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
    WantedBy=multi-user.target